@import '../../app/variables.scss';

.loader {
    margin-top: 45vh;
    text-align: center;

    &>span {
        width: 3rem;
        height: 3rem;
        border-color: $primaryColor $primaryColor transparent $primaryColor !important;
    }

    @media screen and (max-width: $mobile) {
        margin-top: 40vh;
    }
}