@import '../../app/variables.scss';

.loader {
    margin-top: 35vh;

    &>span {
        margin-left: auto;
        margin-right: auto;
    }

    @media screen and (max-width: $mobile) {
        margin-top: 25vh;
    }
}