@import "../../app/variables.scss";

.card {
    &:hover {
        box-shadow: 4px 4px 8px #000000;
        border-color: rgb(189, 189, 189);
        border-color: darken($primaryColor, 20%);
        transform: scale(1.05);
    }

    height: 14rem;
    width: 10rem;
    overflow: hidden;
    margin: 0.7rem;
    background: rgb(77, 77, 77);
    display: inline-block;
    border: 1px solid rgb(104, 104, 104);
    position: relative;
    border-radius: 0.25rem;
    scroll-snap-align: start;
    transition: all 0.3s ease-in-out;
    box-shadow: 3px 3px 6px hsla(0, 0%, 0%, 0.7);

    .image {
        height: 100%;
        width: 100%;
        object-fit: fill;
    }

    .rating {
        position: absolute;
        top: 0.5rem;
        left: 0.5rem;
        background: rgba(0, 0, 0, 0.8);
        padding: 0.25rem 0.5rem;
        font-size: 0.8rem;
        border-radius: 0.3rem;
        z-index: 5;

        .vote_count {
            font-size: 0.6rem;
        }

        svg {
            // fill: gold;
            fill: $primaryColor;
            margin-right: 0.25rem;
        }
    }

    .bookmark {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        background: rgba(0, 0, 0, 0.8);
        padding: 0.3rem 0.3rem 0.1rem 0.3rem;
        border-radius: 0.3rem;
        font-size: 1.1rem;
        cursor: pointer;
        transition: all 0.3s;
        z-index: 5;

        &:hover{
            transform: scale(1.25);
        }

        svg {
            fill: $primaryColor;
        }
    }

    .description {
        display: none;
    }

    .info {
        position: absolute;
        padding: 0.5rem;
        background: rgb(0, 0, 0);
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.8) 25%, rgba(0, 0, 0, 0.95) 100%);
        bottom: 0;
        white-space: normal;
        width: 100%;
        left: 0;

        .title {
            font-size: 1.1rem; 
            font-family: ubuntu;
            font-weight: normal;
        }

        .others {
            font-size: 0.8rem;
            margin-top: 0.2rem;
            color: rgb(197, 197, 197);
        }

        .description {
            font-size: 0.8rem;
            color: rgb(173, 173, 173);
            margin-top: 0.1rem;
            line-height: 1.1;
        }
    }

    .others {
        display: flex;
    }

    @media screen and (max-width: $mobile) {
        width: 8rem;
        height: 11.5rem;
        margin: 0.5rem;

        &:hover{
            transform: none;
        }

        .rating {
            font-size: 0.65rem;
        }

        .bookmark {
            font-size: 0.8rem;
        }
        .info {
            .title {
                font-size: 0.85rem;
            }

            .others {
                font-size: 0.65rem;
            }
        }
    }
}
