@import "../../app/variables.scss";

.card__person {

    img {
        width: 100%;
        height: 100%;
    }

    .info {
        position: absolute;
        padding: 0.5rem;
        background: #000;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.8) 25%, rgba(0, 0, 0, 0.95));
        bottom: 0;
        white-space: normal;
        width: 100%;
        left: 0;

        .name {
            font-size: 1.1rem;
            font-weight: normal;
        }

        .character {
            font-size: 0.9rem;
            color: #c4c4c4;
        }
    }

    @media screen and (max-width: $mobile) {
        .info {
            .name {
                font-size: 0.9rem;
            }

            .character {
                font-size: 0.7rem;
            }
        }
    }
}