@import './variables.scss';

.categoryContainer {
    margin-left: 1rem;

    @media screen and (max-width:$mobile) {
        margin-left:0rem;
    }

    .categoryTitle {
        font-weight: normal;
        font-size: 1.5rem;

        @media screen and (max-width:$mobile) {
            font-size: 1.2rem;
        }
    }
}