@import "../../app/variables.scss";

.trending {
    margin-bottom: 2rem;

    &__movie {
        height: 60vh;
        height: 26rem;
        margin: 0 0.5rem;
        overflow: hidden;
        position: relative;
        border-radius: 0.3rem;
        box-shadow: 2px 2px 0.5rem rgba(0, 0, 0, 0.5);
        border: 1px solid #686868;

        &:hover {
            .playIcon {
                opacity: 1;
            }
        }

        .playIcon {
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 1.75rem;
            cursor: pointer;
            transition: all 0.2s ease-in-out;
            opacity: 0.75;
            border-radius: 50%;
            background-color: black;
            width: 4rem;
            height: 4rem;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 5;
        }

        .backdrop {
            height: 100%;

            &>.lazy-load-image-background {
                width: 100%;
                height: 100%;
            }

            img {
                height: 100%;
            }
        }

        .info {
            width: 100%;
            position: absolute;
            bottom: 0;
            text-align: left;
            padding: 1rem;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 10%, rgba(0, 0, 0, 0.6) 30%, rgba(0, 0, 0, 1) 100%);

            .title {
                font-family: 'ubuntu';
                font-weight: normal;
                font-size: 1.8rem;
            }

            .others {
                padding: 0.2rem 0;
                color: #d1d1d1;
            }

            .rating {
                display: grid;
                grid-template-columns: auto auto;
                justify-content: start;
                grid-gap: 0.5rem;
            }

            .overview {
                padding-top: 0.25rem;
                max-width: 70%;
                color: #c9c9c9;
            }
        }
    }

    li.slide {
        opacity: 0.5;
        transition: all 0.3s ease-in-out;

        &.selected {
            opacity: 1;
        }
    }

    @media screen and (max-width: 768px) {
        &__movie {
            margin: 0 0.25rem;
            height: unset;
            aspect-ratio: 3/2;

            .playIcon{
                display: none;
            }

            .info {
                padding: 0.75rem 0.5rem;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.45) 8%, rgba(0, 0, 0, 0.6) 30%, rgba(0, 0, 0, 1) 100%);

                .title {
                    font-size: 1rem;
                    padding: 0;
                }

                .others {
                    padding: 0.1rem 0;
                    font-size: 0.8rem;
                }

                .overview {
                    max-width: 100%;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-size: 0.7rem;
                }

                .rating {
                    margin: -0.1rem 0;
                    &>span {
                        display: none;
                    }
                }
            }
        }
    }
}