@import "../../app/variables.scss";

.expendedCard {
    display: flex;
   width: 100%;
    overflow: hidden;
    box-shadow: 1px 1px 8px #00000081;
    border-radius: 0.25rem;
    position: relative;

    .backdrop {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0.175;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .poster {
        flex: 4;
        z-index: 1;
        padding: 2rem;

        img {
            width: 100%;
            height: 100%;
            border-radius: 0.35rem;
            border: 2px solid #3d3d3d;
            box-shadow: 4px 4px 8px #0000009d;
        }
    }

    .content {
        flex: 7;
        z-index: 1;
        padding: 2rem;

        .title {
            font-size: 2.1rem;
            color: #fff;
        }

        .heading {
            font-size: 1.3rem;
            font-weight: normal;
        }

        .tagline{
            font-size: 1.1rem;
            color: rgb(196, 196, 196);
        }

        .rating {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin: 1rem 0;
            font-size: 1rem;
            color: rgb(202, 202, 202);

            p {
                margin-right: 5rem;
            }

            .stars svg {
                color: #f5c518;
            }

            .popularity svg {
                color: orangered;
            }

            .votes svg {
                color: chartreuse;
            }
        }

        .genres {
            span {
                background-color: $primaryColor;
                padding: 0.15rem 0.4rem;
                border-radius: 0.2rem;
                font-size: 0.8rem;
                color: black;
                margin-right: 0.5rem;
                box-shadow: 2px 2px 4px #000000bf;
            }
            margin-top: 0.5rem;
            margin-bottom: 1.5rem;
        }

        .overview {
            color: rgb(196, 196, 196);
            font-family: "ubuntu";
            line-height: 1.25;
            margin-top: 0.25rem;
            margin-bottom: 1.5rem;
        }

        .others {
            font-size: 1.1rem;
            margin: 1rem 0;
            color: #ccc;

            span {
                margin-right: 1rem;
            }
        }

        .stats {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1rem 2.5rem;
            margin: 1rem auto;
            text-align: center;

            .box {
                border: 1px solid #858585;
                border-radius: 0.25rem;
                box-shadow: 2px 2px 4px #000000a6;
                padding: 0.5rem;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                font-family: "ubuntu";

                .key {
                    font-size: 1rem;
                }

                .value {
                    margin: 0.2rem;
                    font-size: 1.1rem;
                    color: $primaryColor;
                }
            }
        }
    }

    @media screen and (max-width: $mobile) {
        flex-direction: column;

        .backdrop {
            display: none;
        }

        .poster {
            padding: 1rem;
        }

        .content {
            padding: 1rem;

            .title {
                font-size: 1.5rem;
                margin: 0;
            }

            .rating {
                justify-content: space-between;
                font-size: 0.9rem;

                & > p {
                    margin-right: 0;
                }
            }

            .stats {
                gap: 1rem;

                .box {
                    padding: 0.3rem;
                    flex-direction: column;
                    .key {
                        font-size: 0.9rem;
                    }

                    .value{
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}
