@import "../../app/variables.scss";

nav {
    background-color: lighten($backgroundColor, 5%);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgb(0 0 0 / 70%) 2px -2px 4px;
    z-index: 2;

    .logo {
        font-size: 2rem;
        font-weight: bold;
    }

    .linksContainer {
        font-size: 1.8rem;
        margin-top: 2rem;
        height: 45%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        filter: drop-shadow(2px 2px 2px black);
        transition: all 0.3s ease-in-out;

        a:hover svg {
            transform: scale(1.05);
            fill: rgb(180, 180, 180);
        }

        a.active {
            svg {
                fill: $primaryColor;
                transform: scale(1.05);
            }
        }
    }

    @media screen and (max-width: $mobile) {
            flex-direction: row;
            // margin: 0.5rem;
            // border-radius: 0.5rem;

        .logo {
            display: none;
        }

        .linksContainer {
            font-size: 1.4rem;
            flex-direction: row;
            margin-top: 0;
        }
    }
}
