@import "../../app/variables.scss";

nav {
    background-color: darken($backgroundColor, 2.5%);
    padding: 1rem 0.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: #000 2px -2px 4px;
    z-index: 2;

    .logo {
        text-align: center;
        width: 100%;

        p {
            font-size: 1.8rem;
            background: -webkit-linear-gradient(45deg, #21daa2, #005aff);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    .linksContainer {
        font-size: 1.8rem;
        margin-top: 3rem;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        filter: drop-shadow(2px 2px 2px black);
        transition: all 0.3s ease-in-out;

        a {
            font-size: 1.2rem;
            padding: 0.25rem 0.75rem;
            color: #c4c4c4;
            border-left: 3px solid transparent;
            display: flex;
            margin-bottom: 1.75rem;

            &:last-child {
                margin-top: auto;
            }

            .link__icon {
                fill: $primaryColor;
                font-size: 1.4rem;
            }

            .link__title {
                padding-left: 0.75rem;
            }

            &:hover {
                color: #e7e7e7;
            }

            &.active {
                fill: $primaryColor;
                transform: scale(1.05);
                color: #fff;
                border-left-color: $primaryColor;

                .link__icon {
                    color: $primaryColor;
                }
            }
        }
    }

    @media screen and (max-width: $mobile) {

        flex-direction: row;
        padding: 0;

        .logo {
            display: none;
        }

        .linksContainer {
            font-size: 1.4rem;
            flex-direction: row;
            margin-top: 0;
            align-items: center;

            a {
                border: none;
                margin-bottom: 0;
                height: 95%;
                align-items: center;

                &:last-child {
                    display: none;
                }

                &.active {
                    border-bottom: 2px solid $primaryColor;
                }

                .link__title {
                    display: none;
                }
            }
        }
    }
}